# Python
__pycache__/
*.pyc
*.pyo
venv/
env/
*.db

# Node
node_modules/
dist/
build/

# Env
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# ML
*.pt
*.onnx
runs/

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep